appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
backtrader==1.9.76.123
backtrader-plotting==1.1.0
beautifulsoup4==4.9.3
black==20.8b1
bokeh==2.0.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.2.1
cycler==0.10.0
enum34==1.1.10
et-xmlfile==1.0.1
fastapi==0.61.2
findiff==0.8.9
h11==0.11.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
isort==5.7.0
jdcal==1.4.1
Jinja2==2.11.2
kiteconnect==3.8.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.1
markdown2==2.3.10
MarketProfile==0.2.0
MarkupSafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mpmath==1.2.1
mypy-extensions==0.4.3
nsepy==0.8
numpy==1.19.4
openpyxl==3.0.5
packaging==20.8
pandas==1.1.4
pathspec==0.8.1
Pillow==8.0.1
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.2
PyHamcrest==2.0.2
pylint==2.6.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pywin32==228
PyYAML==5.3.1
regex==2020.11.13
requests==2.24.0
scipy==1.5.4
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
starlette==0.13.6
sympy==1.7.1
ta==0.7.0
TA-Lib==0.4.19
toml==0.10.2
tornado==6.1
Twisted==20.3.0
txaio==20.4.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.25.11
uvicorn==0.12.2
wrapt==1.12.1
zope.interface==5.2.0
